<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/assets/style.css" />
    <title>Shibecloud</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1 user-scalable=no"/>
  </head>
  <body>
    {{{ body }}}     
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
    <script src="/assets/FCClientJS.js" /></script>
    <script src="/assets/bundle.js" /></script>
  </body>
</html>